.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.todolist h3 {
    text-align: center;
}

.buttons button {
    margin-left: 5px;
}

.error {
    border: red 1px solid;
}

.error-message {
    color: red;
}