.App {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.App .todolist {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.App .addItemForm {
    margin: 20px;
}
.App .addItemForm button {
    margin-left: 5px;
}

.todolist h3 {
    text-align: center;
}
.todolist h3 button{
    margin-left: 5px;
}

.tasks button {
    margin-left: 5px;
}


.buttons button {
    margin-left: 5px;
}

.error {
    border: red 1px solid;
}

.error-message {
    color: red;
}

.is-done {
    opacity: 0.5;
}